<div class="section container">
    <app-card>
        <div class="flex">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Leopard_2_A5_der_Bundeswehr.jpg"
                    alt="Leopard 2A5">
            </div>

            <div class="text-side">

                <h1 class="text-center">
                    <b>Tankologia</b>
                </h1>

                <p>
                    O estudo de tanques de guerra é uma área de grande importância para a estratégia militar. Os tanques
                    são veículos de combate altamente poderosos e versáteis, capazes de desempenhar um papel crucial em
                    conflitos terrestres. O estudo dessas máquinas de guerra envolve diversas disciplinas, como
                    engenharia, tática militar e logística.
                    <br><br>
                    Os estudiosos desse campo se dedicam a analisar e compreender as características técnicas dos
                    tanques, desde sua estrutura e blindagem até seus sistemas de propulsão e armamentos. Além disso,
                    eles exploram as táticas de emprego desses veículos, considerando fatores como terreno, cobertura,
                    velocidade e coordenação com outras unidades.
                </p>

                <div class="flex justify-content-center">
                    <button type="button" class="btn btn-light btn-outline-dark" [routerLink]="['/about']">Veja nossos
                        tanques!</button>
                </div>

            </div>
        </div>
    </app-card>

    <br>
    <app-card>
        <div class="flex justify-content-center">
            <div class="p-3">
                <b>
                    Sobre nós
                </b>
            </div>
        </div>

        <div class="text-justify">
            Bem-vindo ao nosso site dedicado ao estudo e análise dos tanques de guerra! Aqui, buscamos fornecer um
            espaço abrangente e informativo para todos aqueles interessados nesse fascinante campo.
            <br><br>
            Nossa equipe de especialistas em tanques de guerra está empenhada em oferecer conteúdo de alta qualidade,
            que aborda desde os aspectos técnicos e históricos até as mais recentes inovações nesse setor. Acreditamos
            na importância de compartilhar conhecimento e promover a compreensão dessas máquinas de guerra tão
            influentes.

            Em nosso site, você encontrará artigos detalhados sobre os diversos modelos de tanques, desde os clássicos
            até os mais modernos. Analisamos suas características, desempenho, armamentos e sistemas avançados, ajudando
            você a entender como essas máquinas se destacam em combate.

            <br><br>
            Além disso, oferecemos recursos interativos, como infográficos e galerias de fotos, para que você possa
            explorar visualmente os tanques e suas especificações. Também abordamos tópicos relacionados, como táticas
            de emprego, estratégias militares e o impacto dos tanques nas batalhas ao longo da história.

            Nosso compromisso é fornecer um ambiente educativo e imparcial, onde entusiastas, estudantes e profissionais
            possam expandir seu conhecimento sobre tanques de guerra. Valorizamos a troca de ideias e encorajamos a
            participação ativa da comunidade por meio de comentários e discussões construtivas.

            Esperamos que você encontre em nosso site uma fonte confiável e envolvente para aprender sobre tanques de
            guerra. 
            <br><br>
            <p class="text-center">
                <b>Seja bem-vindo e aproveite ao máximo o conteúdo que disponibilizamos para você.</b>
            </p>
        </div>
    </app-card>
</div>

<app-footer></app-footer>